/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */

.link {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

.web-accent {
  color: var(--color-accent);
}
/* кнопка */
button {
  cursor: pointer;
}

:root {
  --color-accent: #2196f3;
  --color-primar: #212121;
  --color-other: #757575;
  --color-white: #ffffff;
  --color-footer: #2f303a;
}

body {
  font-family: "Roboto";
  --color-primar: #212121;
}

.logo-type {
  color: var(--color-primar);
  font-family: "Raleway";

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header {
  background: var(--color-white);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header-list {
  color: var(--color-other);
}

.web-accent {
  color: var(--color-accent);
}

.link {
  font-family: "Roboto";
}

/* состояние ссылок header */
.list .link {
  color: var(--color-primar);
}

.list .link:hover,
.list .link:focus {
  color: var(--color-accent);
}

/* состояние контактов header */

.list .header-list {
  color: var(--color-other);
}

.header-list:hover,
.header-list:focus {
  color: var(--color-accent);
}

.geroy {
  color: var(--color-white);
  background: var(--color-footer);
}

.hero-button {
  background: var(--color-accent);
  color: var(--color-white);
 
}
portfolio-button{
  color: var(--color-primar);
  /* закончил на кнопках портфолио */
}

p {
  color: var(--color-other);
}

/* ФОТЕР */
.location {
  color: var(--color-white);
}

.address {
  background: var(--color-footer);
}
/* состояние навигации foter */
.list .address-location {
  color: var(--color-white);
}

.list .location:hover,
.list .location:focus {
  color: var(--color-accent);
}

.mail {
  color: rgba(255, 255, 255, 0.6);
}
/* состояние E-mail foter */

.list .mail:hover,
.list .mail:focus {
  color: var(--color-accent);
}

.tel {
  color: rgba(255, 255, 255, 0.6);
}
/* состояние tel foter */

.list .tel:hover,
.list .tel:focus {
  color: var(--color-accent);
}
