:root {
  --accent-color: #2196f3;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */

.link {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

button {
  cursor: pointer;
}
/* head content */

.geroi {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;

  background: #ffffff;
}

.logo-type {
  position: absolute;
  top: 24px;
  left: 215px;
  font-weight: 700;
  font-size: 26px;
}
.header-nav-list{
  position: absolute;
  top: 32px;
  bottom: 32px;
  left: 453px;
}


.web-accent {
  color: var(--accent-color);
}

.header-nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.hero {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;

  background: #2f303a;
}

.hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.hero-button {
  position: absolute;
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
