:root {
  --color-accent: #2196f3;
  --color-primar: #212121;
  --color-other: #757575;
  --color-white: #ffffff;
  --color-footer:#2F303A;
}
main {
  --color-primar: #212121;
}
.logo-type {
  color: var(--color-primar);
}

.web-accent {
  color: var(--color-accent);
}

.link {
  color: var(--color-other);
}
.list {
  color: var(--color-primar);
}
p {
  color: var(--color-other);
}
/* кнопка */
.hero-button {
  background-color: var(--color-accent);
  color: var(--color-white);
  cursor: pointer;
}

.hero{
  background: #2F303A;
}
h1{
  color: var(--color-white);
}

/* footer */

.location {
  color: var(--color-white);
}
.basement {
  background: #2F303A;
}
  

.mail-nav {
  color: rgba(255, 255, 255, 0.6);
}
.tel-nav {
  color: rgba(255, 255, 255, 0.6);
}
